:root{
    --dlbg:white;
    --dlbg2:whitesmoke;
    --dltx:black;
    --dltx2: #6e6e6e;
    --dred:darkred;
    --red:red;
    --lightred: #fb2f2f;
   
   
 }
 /*  
 #ccc light gray
 
 
 */


*{
    margin: 0px;
    padding: 0px;
    background: var(--dlbg2);
   
}




 .button{
    border-radius: 34px;
    border:none;
    color:white;
    font-size: 16px; 
    padding: 11px 26px 11px 26px ;
    background:linear-gradient(180deg,#fd0f0f 26.71%, #fb2f2f 99.36%);
    box-shadow: 0px 20px 24px 3px  rgba(251, 161, 40, 0.42);
  }
    
  .button:hover{
    background: white;
    cursor:pointer;
    color: var(--lightred);
    border: 1px solid var(--lightred);
  
  }
  .dlbutton{
   
    margin-top: 600px;
  }
  
    